{% extends 'base.html.twig' %}

{% block title %}Fiches{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Afficher une fiche✅</h1>

    {{ form_start(form) }}
    {{ form_row(form.fichesFrais) }}
    {{ form_end(form) }}

    {% if selectedFiche is not null %}
        <table border="1">
            <tr>
                <th>Mois</th>
                <th>NbJustificatifs</th>
                <th>MontantValid</th>
                <th>DateModif</th>
                <th>État ID</th>
            </tr>
            <tr>
                <td>{{ selectedFiche.moisFormatted | date('m-Y') }}</td>
                <td>{{ selectedFiche.nbJustificatifs }}</td>
                <td>{{ selectedFiche.montantValid }}</td>
                <td>{{ selectedFiche.dateModif | date('Y-m-d H:i:s') }}</td>
                <td>{{ selectedFiche.etat.libelle }}</td>
            </tr>
        </table>

        <h3>Frais Forfait:</h3>
        <table border="1">
            <tr>
                <th>Quantité</th>
                <th>Libelle</th>
            </tr>
            {% for ligne in selectedFiche.ligneFraisForfait %}
                <tr>
                    <td>{{ ligne.quantite }}</td>
                    <td>{{ ligne.fraisforfait.libelle }}</td>
                </tr>
            {% endfor %}
        </table>

        <h3>Frais Hors Forfait:</h3>
        <table border="1">
            <tr>
                <th>Libelle</th>
                <th>Montant</th>
            </tr>
            {% for ligneHors in selectedFiche.ligneFraisHorsForfait %}
                <tr>
                    <td>{{ ligneHors.libelle }}</td>
                    <td>{{ ligneHors.montant }} €</td>
                </tr>
            {% endfor %}
        </table>
        <h4>Montant des frais hors forfait total</h4>
        <tr>
            <th>Montant Tot:</th>
        </tr>
        <tr>
            <th>
                {{ selectedFiche.cumul }}
            </th>
        </tr>

        <h4>Montant des frais forfait total</h4>
        <tr>
            <th>Montant Tot:</th>
        </tr>
        <tr>
            <th>
                {{ selectedFiche.cumulLigneForfait }}
            </th>
        </tr>
    {% endif %}







</div>
{% endblock %}
